	<!DOCTYPE html>
	<html ng-app="app">
	<head>
	  <title>My index</title>
	  <!-- vendorInject:css -->
	  <!-- endinject -->

	  <!-- inject:css -->
	  <link rel="stylesheet" href="bootstrap.css">
	  <!-- endinject -->
	</head>
	<body ng-controller="Login">
	 	<h1>hi</h1>
		
		<button ng-click="login()">Login</button>
		<button ng-click="tweet()">Tweet</button>
	  <!-- vendorInject:js -->
	  <script src="vendor/angular.js"></script>
	  <script src="vendor/satellizer.js"></script>
	  <!-- endinject -->

	  <!-- inject:js -->
	  <script src="app.js"></script>
	  <script src="login.js"></script>
	  <!-- endinject -->
	</body>
	</html>